.productionDashWrapper {
  & button {
    border: 1px solid #ef5350;
    margin: 5px;
    border-radius: 2px;
    background: white;
  }
}

.dropdownButton {
  background: white;
  color: #434343;
  margin: 10px;
}