@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-stretch: semi-condensed;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #efefef;
	padding: 5px 0;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.AppLoader {
	text-align: center;
}
.space-4 {
	margin-bottom: 20px !important;
}
.btn-hmp-red {
	background-color: #9a0605;
	color: white;
}
.btn-block-fixed {
	width: 100%;
	border-radius: 0px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	border: none;
}
.btn-block {
	width: 100%;
	border-radius: 0px;
	padding: 10px 15px;
	border: none;
}
.inputLabel {
	font-weight: bolder;
	font-size: 14px;
	text-transform: uppercase !important;
}
.selectFormInput {
	text-align: left;
	border-radius: 2px;
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #fff;
}